{% extends "index_template.html" %}
{% block title %} {{ title|safe }} {% endblock %}
{% block meta %}
    <meta name="description" content= "Article name: {{ title|safe }}">
{% endblock %}
{% block stylesheets%}
    <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/sticky-footer-navbar.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <main role="main" class="container">
      <h1 class="mt-5">{{ title }}</h1>
      <p class="lead">{{ html }}</p>
    </main>
{% endblock %}
{% block footer %}
    <footer class="footer">
        <div class="container">
          <span class="text-muted">
            <a href="https://github.com/p-well/">Pavel Kadantsev</a> on behalf of &copy; <a href="https://devman.org/">devman.org</a> 2018
          </span>
        </div>
    </footer>
{% endblock %}